[submodule "celerite2"]
	path = celerite2
	url = https://github.com/dfm/celerite2
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11
[submodule "single_light_curve/PostEnt2021"]
	path = single_light_curve/PostEnt2021
	url = git@github.com:eggplantbren/PostEnt2021
